h1{font-style: 200%;
color: blueviolet;
text-align: center;
}
h1 {
font-family: "micro 5", sans-serif
font-weight: 400;
font-style:normal;
}
h1 {border-style:solid;
    border-color:black;
    border-width: 5px;
}